services:
  - type: web
    name: likutei-halachot-yomi
    runtime: python
    plan: free
    buildCommand: pip install -r requirements-prod.txt
    startCommand: gunicorn web:app
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_ID
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.0
    autoDeploy: true
